[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
faunadb = "*"
httpx = "*"
pydantic = {extras = ["dotenv"], version = "*"}
uvicorn = "*"

[dev-packages]
pytest = "*"
black = "*"
pylint = "*"
boto3 = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "uvicorn main:app --reload --port 8080 --host 0.0.0.0"